<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorator="application">

<body>
  <section layout:fragment="content">
    <div class="container">
      <h4 class="center-align">Nova tarefa</h4>
      <form th:action="@{/tasks}" method="POST" th:object="${task}">
        <input type="hidden" th:field="*{id}" />
        <div class="row">
          <div class="col s5">
            <input type="text" th:field="*{nome}" placeholder="Nome..." />
          </div>
          <div class="col s5">
            <input type="text" th:field="*{descricao}" placeholder="Descrição..." />
          </div>
          <div class="col s2">
            <button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar</button>
          </div>
        </div>
      </form>

      <h4 class="center-align">Tarefas</h4>
      <table>
        <thead>
          <th>#</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Ações</th>
        </thead>
        <tbody>
          <tr th:each="task,iter : ${tasks}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${task.nome}"></td>
            <td th:text="${task.descricao}"></td>
            <td><a th:href="@{/tasks/} + ${task.id} + ${'/done'}">Finalizar</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>

</html>