<form th:action="@{/users/register}" method="POST" th:object="${user}">
	<h5 class="center-align">Registrar</h5>
	<div class="row">
		<div class="input-field col s12">
			<input th:field="*{nome}" type="text">
			<label for="nome">Nome</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input th:field="*{email}" type="email">
			<label for="email">Email</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input th:field="*{password}" type="password">
			<label for="password">Senha</label>
		</div>
	</div>
	<div class="row">
		<button type="submit" class="btn">Registrar</button>
	</div>
</form>